<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>></title>
</head>

<body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
        <input type="text" name="user" placeholder="Your Name">
        <input type="text" name="text" placeholder="Your Message">
        <input type="submit">
    </form>
</body>

</html>